header {
  height: 5dvh;
}

.titulo {
  font-size: 4rem;
  height: 20dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95dvh;
  background-image: url('./1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  animation: slide 20s infinite;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.imgContainer {
  display: flex; 
  flex-direction: column; 
  width: 210px; 
  height: 240px; 
  background-color: white;
  border: 5px white solid;
  border-radius: 10%;
  justify-content: space-around;
  margin: 10px;
}

.filterimg {
  width: 200px;
  height: 200px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.filterimg:hover {
  opacity: 0.7;
  background-color: white;
}

@keyframes slide {
  0%{
    background-image: url('./1.jpg');
  }
  25%{
    background-image: url('./2.jpg');
  }
  50%{
    background-image: url('./3.jpg');
  }
  75%{
    background-image: url('./4.jpg');
  }
}

.mainabout {
  width: 100%;
  height: 95dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-image: url('./5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.mainoutput {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95dvh;
  justify-content: space-evenly;
}

.outputimgV {
  height: 80vh;
  border: 1px black dashed;
  border-radius: 1%;
}

.outputimgH {
  height: 80vh;
  border: 1px black dashed;
  border-radius: 1%;
}

.negrita {
  font-weight: 700;
}


@media screen and (max-width: 767px) {
  .imgContainer {
    width: 110px;
    height: 160px;
    margin-top: 20px;
    border: 2px white solid;
    margin: 5px; 
    align-items: center;
  }
  .filterimg {
    height: 100px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;  
  }
}

@media screen and (max-width: 367px) {
  .outputimgV {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1287px) {
  .outputimgH {
    width: 90vw;
    height: auto;
  }
}
