header {
  height: 5dvh;
}

.navNew {
  background-color: #0f0f0f !important;
}

.navNew a {
  color: white !important;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon::before {
  content: "\2630";
  font-size: 24px;
  color: white;
  display: block;
}

body {
  background-color: #0f0f0f;
}

.titulo {
  font-size: 4rem;
  height: 20dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    #15bc78,
    #a310a3,
    #c68825,
    #5c50de,
    #ca4d4d,
    #7d7dc5
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 10s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

h2 {
  color: white;
}

.section-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95dvh;
  background-color: #0f0f0f;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

canvas {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 210px;
  background-color: white;
  border: 5px white solid;
  border-radius: 10%;
  margin: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.filterimg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%;
  cursor: pointer;
  object-fit: contain;
}

.filterimg:hover {
  opacity: 0.5;
  background-color: #0f0f0f;
}

body.processing {
  overflow: hidden; /* Prevent scrolling */
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  z-index: 9999;
  backdrop-filter: blur(5px);
  align-content: center;
  text-align: -webkit-center;
}

.spinner {
  border: 8px solid rgba(215, 210, 210, 0.1);
  border-left: 8px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mainabout {
  width: 100%;
  height: 95dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-image: url("./5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.mainoutput {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95dvh;
  justify-content: space-evenly;
  background-color: #0f0f0f;
}

.outputimgV {
  height: 500px;
  border: 1px white dashed;
  border-radius: 1%;
}

.outputimgH {
  height: 500px;
  border: 1px white dashed;
  border-radius: 1%;
}

.negrita {
  font-weight: 700;
}

.tarjetas {
  justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .imgContainer {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    border: 2px white solid;
    margin: 5px;
    align-items: center;
  }
  .filterimg {
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
  .tarjetas {
    flex-direction: column;
  }
}

@media screen and (max-width: 367px) {
  .outputimgV {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1287px) {
  .outputimgH {
    width: 95vw;
    height: auto;
  }
}
