{% extends "filters/layout.html" %}
{% load static %}

{% block main %}
<div class="mainabout">
    <main class="container">
        <div>
            <h1>Hi! I'm Andrea</h1>
        </div>

        <div>
            <p>I developed the <span class="negrita">"Chromatik"</span> tool for my <span class="negrita">Harvard's
                    CS50</span> final project.</p>
            <p>During the course I learned so many new things, but one that stuck in my mind was the posibility to <span
                    class="negrita">alter the RGB values of each individual pixel within an image</span>.</p>
            <p>Specially because it reminded me about <span class="negrita">cross processing film</span>... and how
                expensive it has become... and how it would be amazing to have a <span class="negrita">tool to
                    "test"</span> if a scene would benefit from certain cross processes.</p>
            <p>I am really satisfied with the filters developed so far (<span class="negrita">"Purple"</span> and <span
                    class="negrita">"Turquoise"</span>), but I would want to <span class="negrita">keep adding more to
                    the selection</span>.</p>
        </div>
    </main>
</div>

{% endblock %}